/* *{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: monospace;
}
body{
    background: url("https://img.freepik.com/free-vector/blue-sky-with-clouds-background-elegant_1017-26302.jpg");
    background-size: 210vh;
    background-repeat: no-repeat;
}
#topic{
    position: fixed;
    left: 31.5%;
    top: 10%;
    font-size: 10vh;
    color: white;
}
#box{
    
    display: flex;
    justify-content: space-around;
    padding: 29px;
    position: absolute;
    /* left: 42%; */
    /* top: 30%;
    height: 20vh;
    width: 33%;
    margin-left: 33%;
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    box-shadow: rgba(128, 128, 128, 0.308) 4px 4px;
    border-radius: 5px;
}
button{
    width: 20%;
    border: none;
    background-color: rgba(120, 120, 235, 0.592);
    border-radius: 5px;
    font-size: 18px;
    color: beige;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgba(20, 20, 216, 0.592);
}
button:focus{
    background-color: rgba(12, 12, 206, 0.756);
}
#loc[type=text]{
    width: 45vh;
    border-radius: 5px;
    border: 1px solid #E0EAFC;
    outline-offset:0px;
    outline: none;
}
#loc{
    
    font-size: 4vh;
}
#output{
    background: linear-gradient(to right, #297fb9d9, #507295cc);
    width: 20%;
    height: 10vh;
    border-radius: 15px;
    left: 40%;
    top: 65%;
    position: fixed;
} */ 
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: url("https://img.freepik.com/free-vector/blue-sky-with-clouds-background-elegant_1017-26302.jpg");
    background-size: 210vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
input {
    padding: 1rem;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    font-family: inherit;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    font-size: 1rem;
}
input:focus {
    outline: none;
}
.weather {
    text-align: center;
    font-size: 2rem;
}
.weather h2 {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
/* .weather img{ 
    transform: scale(2); 
} */